{% extends "layouts/default.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1>Flight PHP micro-framework w/ Twig Boilerplate</h1>
{% endblock %}

{% block content %}
    <main>
        <p>
            Let's flight.
        </p>
    </main> <!-- // main -->
{% endblock %}
